<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавить новый товар</title>
</head>
<body>


<form action="{{ url_for('add_product') }}" method="post">
    <input name="vendor_code" placeholder="Артикул" required>
    <input name="product_name" placeholder="Наименование товара" required>
    <input name="price" placeholder="Цена" required>
    <input name="quantity" placeholder="Количество" required>
    <button>Add</button>
</form>



</body>
</html>