<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Редактировать товар {{ item.product_name }} ( Артикул: {{ item.vendor_code }})</title>
</head>
<body>

<div class="container">
    <p class="h2 text-center font-weight-bold">Введите новые данные</p>

    <form class="form-group" action="{{ url_for('edit', vendor_code=item.vendor_code) }}" method="post">
        <div class="form-group">
            <label for="vendor_code">Артикул</label>
            <input class="form-control" name="vendor_code" value="{{ item.vendor_code }}" placeholder="111111" required>

        </div>

        <div class="form-group">
            <label for="product_name">Наименование товара</label>
            <input class="form-control" name="product_name" value="{{ item.product_name }}" placeholder="Бубен" required>
        </div>

        <div class="form-group">
            <label for="price">Цена, руб.</label>
            <input class="form-control" name="price" value="{{ item.price }}" placeholder="1000" required>
        </div>

        <div class="form-group">
            <label for="quantity">Количество, штук</label>
            <input class="form-control" name="quantity" value="{{ item.quantity }}" placeholder="1" required>
        </div>

        <button type="submit" class="btn btn-success">Сохранить изменения</button>

    </form>
</div>
</body>
</html>