<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Товар: {{ item.product_name }}</title>
</head>
<body>

<div class="card" style="width: 38rem;">
  <div class="card-body">
    <h2 class="card-title">Наименование товара:  {{ item.product_name }}</h2>
    <p class="card-text">Артикул:  {{ item.vendor_code }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Цена за штуку: {{ item.price }} руб.</li>
    <li class="list-group-item">Количество: {{ item.quantity }} шт.</li>
  </ul>
  <div class="card-body">
    <a class="btn btn-success" href="#">Редактировать</a>
    <a class="btn btn-danger" href="{{ url_for('remove_form', vendor_code=item.vendor_code) }}">Удалить</a>
  </div>
</div>



</body>
</html>